#about-page{
	max-width:700px;
	margin:0px auto;
}

.post-header>h1{
	font-size:45px;
	line-height:1;
	outline: 0px none currentColor;
	overflow-wrap: break-word;
	letter-spacing: -1px;
}

.post-header>h2{
	color: #333332;
	font-style: italic;
	font-weight: 400;
	line-height: 1.2;
	margin: 20px 0px;
}

.post-body{
	margin-bottom: 30px;
	margin-top: 25px;
	outline: 0px none currentColor;
	overflow-wrap: break-word;
	font-size:22px;
	font-weight: 400;
	line-height: 1.45;
	color: #333332;
}

.post-body section:before{
	border: 1px solid #DEDEDC;
	content: "";
	display: block;
	margin: 50px auto 40px;
	width: 20%;
}

.post-body section:first-child:before{
	border-style:none;
}

.image-with-desc{
	position:relative;
}

.image-with-desc .image-caption{
	left:-172px;
	position:absolute;
	text-align:right;
	width:150px;
	top:0px;
	
	color: #666665;
	font-size: 14px;
	font-style: italic;
	font-weight: 400;
	line-height: 1.4;
	outline: 0px none currentColor;
	z-index: 300;
}

.image-with-desc .image-caption:before{
	border: 1px solid #DEDEDC;
	content: "";
	display: block;
	margin-bottom: 10px;
	margin-left: 75%;
	width: 25%;
}
.post-body p{
	margin-bottom: 31px;
}

.quote{
	margin: 48px -50px;
	font-size: 32px;
	padding: 0px;
	text-align: center;
	display: block;
}

@media (max-width:900px) {
	.image-with-desc .image-caption{
		position:relative;
		text-align: center;
		margin:0px auto;
		left: 0px;
		margin-top: 10px;
		width: 100%;
		display: block;
	}
	
	.image-with-desc .image-caption:before{
		display: none;
	}
}
