.galleries{
	width:100%;
}

.gallery{
	width:165px;
	float:left;
	margin-right:10px;
	position:relative;
}

.gallery h4{
	text-align: center;
	padding-bottom: 0
}

.gallery a{
	position:relative;
}

.gallery img{
	width:100%;
}

.gallery .folder-image{
	width:100%;
}

.gallery-thumbnail{
	width: 153px !important;
	position: absolute;
	bottom: -60px;
	right: 10px;
	height: 101px;
/*
width: 115px !important;
position: absolute;
bottom: -45px;
right: 26px;
height: 100px;
*/
}

#gallery-add{
position: absolute;
right: 58px;
top: 70px;
font-size: 50px;
}

/* darken the image layer */
/*
.gallery div{
	width:inherit;
	height:inherit;
	opacity:0;
	transition: opacity 0.5s;
	background-color:black;
	position:relative;
}

.gallery:hover div{
	opacity:0.5;
}
*/