/*
 gallery header ( name, actions) related
*/
#gallery-stats{
	position:relative
}

#gallery-stats > span{
	font-size:78px;
}

#gallery-stats div{
	position: absolute;
	right: 0px;
	bottom:0px;
	font-size:30px;
}

#gallery-remove{
	color:red;
}

.gallery-action-icon{
	opacity:0.6;
}

.gallery-action-icon:hover{
	opacity:1;
}

#gallery-rename{}
#gallery-upload{}

hr{
	margin-top: 10px !important;
}

/*
 photos related
*/
.photo-thumbnail{
	display:inline-block;
	margin: 15px 18px 23px;
	padding:0px;
	border:0px none;
	box-shadow: #101010 2px 2px 5px;
	position:relative;
}

.photo-thumbnail .file { 
	height: 100%;
	width: 100%;
	padding: 0px;
	height: 100%;
	justify-content: flex-start;
	top:0px;
	margin:0px;
}

.photo-thumbnail:hover > .photo-thumbnail-bottom-gradient{
	background-color:red;
	height:20px !important;
	bottom:0px;
	width:100% !important;
	margin: 0px !important;
	padding: 0px !important;
	background-color: #transparent;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), rgba(0,0,0,0.5));
	background: -webkit-linear-gradient(top, transparent, rgba(0,0,0,0.5));
	background: -moz-linear-gradient(top, transparent, rgba(0,0,0,0.5));
	background: -ms-linear-gradient(top, transparent, rgba(0,0,0,0.5));
	background: -o-linear-gradient(top, transparent, rgba(0,0,0,0.5));
}

.photo-thumbnail:hover > .photo-thumbnail-top-gradient{
	background-color:red;
	height:20px !important;
	top:0px;
	width:100% !important;
	margin: 0px !important;
	padding: 0px !important;
	
	/* fallback */
	background-color: #transparent;
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(transparent), rgba(0,0,0,0.5));
	background: -webkit-linear-gradient(bottom, transparent, rgba(0,0,0,0.5));
	background: -moz-linear-gradient(bottom, transparent, rgba(0,0,0,0.5));
	background: -ms-linear-gradient(bottom, transparent, rgba(0,0,0,0.5));
	background: -o-linear-gradient(bottom, transparent, rgba(0,0,0,0.5));
}

/*
 photo stats
*/
.photo-thumbnail > .image-stats{
	position:absolute;
	color:white;
	margin: 2px 2px;
	display:none;
}

.photo-thumbnail:hover > .image-stats{
	display:block;
}

.photo-thumbnail .views-count{
	padding:0px 3px;
}

.photo-thumbnail .favorite-count{
	padding:0px 3px;
	bottom:0px;
}

.photo-thumbnail .favorite-mark-up{
	padding:0px 3px;
	bottom:8px;
	right:8px;
	color:white;
	font-size:25px;
}

.photo-thumbnail .favorite-mark-up:hover{
	color:red;
}

.photo-thumbnail .delte-img{
	padding:0px 3px;
	top:8px;
	right:8px;
	color:white;
	font-size:25px;
}

.photo-thumbnail .delte-img:hover{
	color:red;
}