.gallery-thumbnail{
	display:inline-block;
	margin: 15px 18px 23px;
	padding:0px;
	border:0px none;
	box-shadow: #101010 2px 2px 5px;
	position:relative;
}

.gallery-thumbnail .file { 
	height: 100%;
	width: 100%;
	padding: 0px;
	height: 100%;
	justify-content: flex-start;
	top:0px;
	margin:0px;
}

.gallery-thumbnail > .image-info{
	position:absolute;
	color:white;
	margin: 2px 2px;
	display:none;
}

.gallery-thumbnail:hover > .image-info{
	display:block;
}

.gallery-thumbnail:hover > .gallery-thumbnail-bottom-gradient{
	background-color:red;
	height:20px !important;
	bottom:0px;
	width:100% !important;
	margin: 0px !important;
	padding: 0px !important;
	background-color: #transparent;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), rgba(0,0,0,0.5));
	background: -webkit-linear-gradient(top, transparent, rgba(0,0,0,0.5));
	background: -moz-linear-gradient(top, transparent, rgba(0,0,0,0.5));
	background: -ms-linear-gradient(top, transparent, rgba(0,0,0,0.5));
	background: -o-linear-gradient(top, transparent, rgba(0,0,0,0.5));
}

.gallery-thumbnail:hover > .gallery-thumbnail-top-gradient{
	background-color:red;
	height:20px !important;
	top:0px;
	width:100% !important;
	margin: 0px !important;
	padding: 0px !important;
	
	/* fallback */
	background-color: #transparent;
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(transparent), rgba(0,0,0,0.5));
	background: -webkit-linear-gradient(bottom, transparent, rgba(0,0,0,0.5));
	background: -moz-linear-gradient(bottom, transparent, rgba(0,0,0,0.5));
	background: -ms-linear-gradient(bottom, transparent, rgba(0,0,0,0.5));
	background: -o-linear-gradient(bottom, transparent, rgba(0,0,0,0.5));
}

.gallery-thumbnail .views-count{
	padding:0px 3px;
}

.gallery-thumbnail .favorite-count{
	padding:0px 3px;
	bottom:0px;
}

.gallery-thumbnail .image-data{
	padding:0px 3px;
	right:8px;
	font-size:15px;
}

.gallery-thumbnail .favorite-mark-up{
	padding:0px 3px;
	bottom:8px;
	right:8px;
	color:whte;
	font-size:25px;
}

.gallery-thumbnail .favorite-mark-up:hover{
	color:red;
}

.image-data-popup{
	display:none;
	position:absolute;
	z-index:2;
	background-color:rgba(0,0,0,0.7);
	border: 1px solid white;
	border-radius:3px;
	font-size:10px;
	padding:3px;
	left:1px;
	top:1px;
	width:170px;
}

.image-data-popup label{
	font-weight:600;
}

.image-data:hover{
	display:none;
}

.image-data:hover > .image-data-popup{
	display:block;
}