.column50{
	float:left;
	width:50%;
	padding-right:15px;
}

.img-thumbnail{
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
}

.panel-body td{
}

.settings-value{
	width:100%;
	text-align:right;
}
.settings-value input{
	text-align:right;
}
.settings-value select{
	text-align:right;
}

.settings-label{
	padding-right:10px;
	font-weight:600;
}

.form-read-only{
	padding: 6px 12px;
}

#avatar-image{
	display: inline-block;
	height: auto;
	max-width: 100%;
	padding: 4px;
}

#save-button{
	float:right;
	width:150px;
	height:50px;
}

/* avatar upload */
.file-container {
	width:100%;
	height:30px;
	display:inline-block;
	position:relative;
	overflow:hidden;
	margin-bottom:15px;
}

.file-container input[type="file"] {
	position:absolute;
	width:100%;
	left:0;
	right:0;
	top:0;
	bottom:0;
	opacity:0;
	z-index:2;
	height:inherit;
	display:block;
	cursor:pointer;
}

.file-container input[type="text"] {
	position:relative;
	float:left;
	left:4px;
	z-index:0;
	width:80%;
	height:inherit;
	background:#efefef;
	border:1px solid #aaa;
	font:11px Tahoma;
	color:#777;
	padding:5px;
}

.file-container input[type="button"] {
	position:relative;
	float:right;
	right:4px;
	z-index:0;
	width:20%;
	height:inherit;
	background-color: rgb(66, 139, 202);
	text-align:center;
	font:11px Arial;
	color:#fff;
	line-height:inherit;
	overflow:hidden;
	display:block;
	border:0;
	cursor:pointer;
}