@font-face{
	font-family: AlexBrushRegular;
	src: url('../fonts/AlexBrushRegular.ttf');
}

.dialog{
	padding:0px;
	border-radius: 4px;
	border-color:#A4BACA;
	position:relative;
}

.dialog header{
	margin:0px;
	padding:0px;
	background-color: #517FA4;
	border-top-left-radius:inherit;
	border-top-right-radius:inherit;
	border:1px solid;
	border-color:inherit;
}

.dialog h1{
	font-weight:400;
	text-align: center;
	color:#fff;
	font-family:AlexBrushRegular;
}

.dialog input{
	display:block;
	width:100%;
	padding:0px;
}

.dialog-content{
	margin:0px;
	padding: 10px 7px;
	background-color: #fff;
	border-bottom-left-radius:inherit;
	border-bottom-right-radius:inherit;
	border-bottom:1px solid;
	border-left:1px solid;
	border-right:1px solid;
	border-color:inherit;
}

/*
	navigation bar
*/
#navigation-bar{
	border-width:0 1px 1px !important;
	border-style:solid;
	border-color:#A4BACA;
}

#navigation-bar-inner{
	/* linear-gradient(rgb(255, 255, 255), rgb(242, 242, 242)) */
 	background-image:none !important;
 	background-color: rgba(81, 127, 164, 0.8) !important; /* #517FA4 */
	border-width:0px;
}

#brand{
	font-weight:100;
	color:#fff;
	font-family:AlexBrushRegular;
	font-size:30px;
}

.navigation-bar-item{
	text-shadow:0 0 !important;
	color: #e8e8e8 !important;
	font-size:14px;
	font-family: Arial, Helvetica, sans-serif;
}

.navigation-bar-item:hover{
	color: white !important;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
	margin: 0;
}

.navigation-bar-dropdown-item{
	color:black;
}

/*
#navigation-bar-search{
	border-radius:0px;
	position: relative;
	display:inline-block;
}

div.navigation-bar-search-icon > input {
	position: absolute;
	background:url('http://l.yimg.com/g/images/sprites/icons-s9157f2a5d4.png') no-repeat;
	background-position: 0 -134px;
	cursor:pointer;
	width: 20px;
	height: 30px;
	border: none;
}
*/