@font-face{
	font-family: AlexBrushRegular;
	src: url('../fonts/AlexBrushRegular.ttf');
}

#page-main{
	background-color:#ffffff;
	height:100%
}

.dialog{
	padding:0px;
	border-radius: 4px;
	border-color:#A4BACA;
	position:relative;
}

.dialog header{
	margin:0px;
	padding:0px;
	background-color: #517FA4;
	border-top-left-radius:inherit;
	border-top-right-radius:inherit;
	border:1px solid;
	border-color:inherit;
}

.dialog h1{
	font-weight:400;
	text-align: center;
	color:#fff;
	font-family:AlexBrushRegular;
}

.dialog input{
	display:block;
	width:100%;
	padding:0px;
}

.dialog-content{
	margin:0px;
	padding: 10px 7px;
	background-color: #fff;
	border-bottom-left-radius:inherit;
	border-bottom-right-radius:inherit;
	border-bottom:1px solid;
	border-left:1px solid;
	border-right:1px solid;
	border-color:inherit;
	overflow: hidden
}

/*
	navigation bar
*/
#navigation-bar-image{
	background:url('../img/img8.jpg') no-repeat center center fixed;
	background-size: cover;
	height:500px;
	position:relative;
	margin-bottom:10px;
}

#navigation-bar{
	width:100%;
	border-width:1px 0px !important;
	border-style:solid;
	border-color:#A4A4A4;
	background-image:none !important;
 	background-color: rgba( 35,38,44,0.8) !important; /* #23262C */
	margin-bottom:0px !important;
	border-radius:0px !important;
}

.align-parent-bottom{
	/* requires parent to have position:absolute */
	position:absolute;
	bottom:0px !important;
}

#brand{
	font-weight:100;
	color:#fff;
	font-family:AlexBrushRegular;
	font-size:30px;
}

.navigation-bar-item{
	text-shadow:0 0 !important;
	color: #888 !important;
	font-size:14px;
	font-family: Arial, Helvetica, sans-serif;
}

.navigation-bar-item:hover{
	color: rgba(255,64,64,0.8) !important;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
	margin: 0;
}

.navigation-bar-dropdown-item{
	color:black;
}

/*
#navigation-bar-search{
	border-radius:0px;
	position: relative;
	display:inline-block;
}

div.navigation-bar-search-icon > input {
	position: absolute;
	background:url('http://l.yimg.com/g/images/sprites/icons-s9157f2a5d4.png') no-repeat;
	background-position: 0 -134px;
	cursor:pointer;
	width: 20px;
	height: 30px;
	border: none;
}
*/

/*
  footer
*/
#footer{
	width:100%;
	height:150px;
	position:relative;
	padding:10px 5px;
	margin-top:10px;
 	background-color: rgba( 35,38,44,1); /* #23262C */
	color:white;
	border-width:1px 0px 0px 0px;
	border-style:solid;
	border-color:#A4A4A4;
}

#footer-about{
	margin:5px auto 15px;
	width:80px;
	font-size:2em;
	color:#888;
	margin-bottom:10px;
}

#footer-about:hover{
	color: rgba(255,64,64,0.8);
}

#footer li{
	opacity:0.5;
	display:inline-block;
}

#footer li:hover{
	opacity:1;
}

.caption{
	position:absolute;
	display:none;
}

#footer li:hover span{
/*display:block;*/
}

#footer-copyright{
	position:absolute;
	bottom:2px;
	left:5px;
	float:left;
}

#footer-designed{
	position:absolute;
	bottom:2px;
	right:5px;
	float:right;
}

/*
footer-social
*/
#footer-social{
	padding-left:0px;
	margin:0px auto;
	width:240px;
}

.social-icon{
	display:block;
	width:30px;
	height:25px;
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: 25px 25px;
	line-height: 20px;
}

.be{background-image:url('../img/be.png');}
.dr{background-image:url('../img/dr.png');}
.fb{background-image:url('../img/fb.png');}
.in{background-image:url('../img/in.png');}
.pi{background-image:url('../img/pi.png');}
.tw{background-image:url('../img/tw.png');}
.vi{background-image:url('../img/vi.png');}




