/*
bar with actions
*/
#browse-actions{
	border:1px solid rgba(66, 139, 202, 0.7);
	border-width:0px 0px 1px;
	background-color:rgba(66, 139, 202, 0.3);
	height:37px;
	line-height:37px;
}

#browse-actions button{
	width:140px;
	border: 0px none;
	background-color: transparent;
	cursor: default;
}

#browse-actions button:hover span{
	font-weight:600;
}

#current-folder-name{
	font-size: 25px;
	text-align:center;
	margin-left: 100px;
	margin-right: 100px;
}

#current-folder-name span:hover{
	text-decoration:underline;
}

#add-to-gallery{
	text-align:right !important;
}

#folder-hierarchy-up{
	text-align:left !important;
}

#dropbox-content{
	position:relative
}
/*
loading screen
*/
#dropbox-folder{
	text-align: center;
}

#dropbox-folder-loading{
	width:100%;
	/*height:100%;
	min-height:500px;*/
	height:500px;
	top: 0px;
}

#dropbox-folder-loading table{
	width: inherit;
	height: inherit;
	vertical-align: middle;
	text-align: center;
}

#dropbox-folder-loading table td{
	vertical-align: middle;
	text-align: center;
}

#dropbox-folder-loading div{
	background-color: white;
	opacity: 0.7;
	position: absolute;
	width: inherit;
	height: inherit;
}
.dropbox-loading-upload{
	position:absolute !important;
	height:100% !important;
	min-height:500px;
	display:block
}

.dropbox-loading-upload table{
	/*position:fixed;*/
	position: absolute;
}

/*
gallery
*/
#dropbox-folder-folders{
}

.gallery-item-wrapper{
	display:inline-block;
	text-align:center;
}

.gallery-item-wrapper-folder{
	margin:2% 2% 0px 2%;
	width:120px; /*13%*/
	height:120px;
}

.gallery-item-wrapper-image{
	margin:3px 3px;
	width:180px;
	height:180px;
}

.gallery-image{
	/*
	http://stackoverflow.com/questions/15167545/how-to-crop-a-rectangular-image-into-a-square-with-css
	http://stackoverflow.com/questions/16310918/css-scale-and-square-center-crop-image
	*/
	width:inherit;
	height:inherit;
	background: url("../img/loaderb32.gif") no-repeat;
	background-position:center center;
	position:relative;
	color:#ddd;
}

.background-cover{
	background-size: cover;
}

.folder-item{
	width:100%;
}

.folder-item img{
	width:inherit;
}

/* darken the image layer */
.gallery-image div{
	width:inherit;
	height:inherit;
	opacity:0;
	transition: opacity 0.5s;
	background-color:black;
	position:relative;
}

.gallery-image-darken-active{
	opacity:0.5 !important;
}

.gallery-image:hover div{
	opacity:0.5;
}

/* image name */
.gallery-image div label{
	position:absolute;
	bottom:5px;
	left:10px;
	color:white;
}

/* tick icon ( image selected marker) */
.gallery-image span.glyphicon{
	position:absolute;
	top:0px;
	right:0px;
	background-color:rgb(66, 139, 202);
	width:40px;
	height:40px;
	line-height: 35px;
	display:none;
}

.gallery-image-glyphicon-active{
	display:inline !important;
	color:white !important;
}


